@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  @tailwind 는 Tailwind CSS 프레임워크에서 제공하는 특수한 규칙으로, CSS 파일에서 Tailwind CSS 를 사용할 수 있도록 설정합니다.
  @tailwind base 는 Tailwind CSS 의 기본 스타일을 포함하는 규칙입니다.
  이 규칙을 사용하면, HTML 요소의 기본 스타일을 Tailwind CSS 의 스타일로 대체할 수 있습니다.
  
  @tailwind components 는 Tailwind CSS 의 컴포넌트 스타일을 포함하는 규칙입니다.

  @tailwind utilities 는 Tailwind CSS 의 유틸리티 스타일을 포함하는 규칙입니다.
  예를 들어, text-center 는 Tailwind CSS 의 유틸리티 클래스입니다. 
  유틸리티 클래스는 CSS 파일에서 직접 정의할 필요 없이, Tailwind CSS 가 제공하는 클래스를 사용하여 HTML 요소의 스타일을 변경할 수 있습니다.
*/

/* 라이트 모드 */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* 다크 모드 */
/* 미디어 쿼리를 사용하여 사용자의 시스템이 다크모드를 지원하는 경우, :root 선택자에서 정의한 변수의 값을 다크 모드에 맞게 변경합니다. */
/* 
  :root 선택자는 CSS 변수를 정의할 때 주로 사용됩니다. 
  이 선택자를 사용하여 정의된 CSS 변수는 전역으로 사용할 수 있으며, 모든 요소에서 참조할 수 있습니다.
  이 선택자는 HTML 요소의 루트 요소를 선택합니다. HTML 요소의 루트 요소는 <html> 요소를 의미합니다.
*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body 요소의 color 와 background 속성에서는 rgb() 함수를 사용하여 --foreground-rgb, --background-start-rgb,--background-end-rgb와 같은 css 변수를 참조합니다. */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
